<!--<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button (click)="openMenu()" autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title> Bienvenido </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-card>
          <!--<img src="assets/logo_.png" alt="Logo de Mi Empresa" alt="ll">-->
          <ion-img src="assets/logo_.png" alt="d"></ion-img>
          <ion-card-header>
              <br />
              <br />
            <ion-card-title> ¡Bienvenidas </ion-card-title>
            <ion-card-subtitle> Juntas construimos una nueva historia</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-button color="secondary" (click)="iniciar()"> Comenzar </ion-button>
          </ion-card-content>
        </ion-card> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>